


	@@include("../partials/modals.tpl.html")  


	</div><!-- #app -->


	<!-- jQuery CDN or localhost fallback -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="components/jquery/dist/jquery.min.js"><\/script>')</script>

	<!-- Bower Components -->
	<script src="components/slick/slick.min.js"></script>

	<!-- GSAP Animation -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TweenLite.min.js"></script> <!-- this allows you to animate width and height -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/plugins/CSSPlugin.min.js"></script> <!-- this allows you to also animate css properities -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/easing/EasePack.min.js"></script> <!-- include easing pack - if you are using TweenMax you won't need to include the extra libs -->


 <!-- Scrolling -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/plugins/ScrollToPlugin.min.js"></script>



  <!-- Custom Animations -->
  <script src="assets/js/animation.js"></script>
  <script src="assets/js/greensock.js"></script>
  <script src="assets/js/scrolling.js"></script>
  <script src="assets/js/scrollmagic.js"></script>
  <script src="assets/js/prototype.js"></script>

	<!-- Simple Plugins and main Application JS -->
	<!-- <script src="assets/js/plugins.js"></script> -->
	<script src="assets/js/app.js"></script>
		

 
</body>
</html>