// _prototype.scss

/** 
* Hero Section
**/
.hero__prototype {
	width: 100%;
	height: 100vh;
  overflow: hidden;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background 1500ms ease-in-out;

  h1 {
  	span#heading-un {
  		display: inline-block;
  		color: #888;
  		opacity: 1;
  		transition: all 1500ms ease-in-out;

			&.fade-out {
				opacity: 0;
  			transition: all 1500ms ease-in-out;
			}
  	}
  }

	h1#move-title {
		margin-left: 0px;
		transition: all 1500ms ease-in-out;

		&.move-left {
			margin-left: -108px;
			transition: all 1500ms ease-in-out;
		}
	}

	.hero__inner-prototype {
		width: 100%;
		max-width: 620px;
		padding: 0 20px;
		position: absolute;
		top: 50%;
		text-align: left;
		margin-left: 150px;
		color: $color-offwhite;
		z-index: 10;
		@include transform(translateY(-50%));
	}
}

.img--overlay-blackout, %img--overlay-blackout {
  position: relative;
  
  &:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(33, 33, 33, .88);
    transition: all 3000ms ease-in-out;
  }

    &:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(33, 33, 33, .88);
    transition: all 3000ms ease-in-out;
  }
}


/** 
* Sections
**/
section.height-full {
  height: 100vh;
  position: relative;
  background-color: #fff;
  @include clearfix;
  z-index: 11;
  // opacity: 0;
  // transform: translateY(200px);
  // transition: 500ms ease-in-out;


  &.fade-in {
  	opacity: 1;
  	transform: translateY(0);
    transition: 500ms ease-in-out;
  }

  h1 {
  	font-size: 40px;
  }

  .header-text {
  	// margin-top: 10%;
  	// margin-bottom: 8%;
  	padding-top: 60px;
  	margin-bottom: 100px;
  	p {
  		margin-top: 0px;
  	}
  }
}

#header-one {
	opacity: 0;
	transform: translateY(100px);
	transition: all 500ms ease-in-out;

	&.fade-in {
		opacity: 1;
		transform: translateY(0px);
		transition: all 500ms ease-in-out;
	}
}

#header-two {
	opacity: 0;
	transform: translateY(100px);
	transition: all 500ms ease-in-out;

	&.fade-in {
		opacity: 1;
		transform: translateY(0px);
		transition: all 500ms ease-in-out;
	}
}

//Block Sections

.gray-block {
	background-color: #EDEDED;
	height: 500px;
	width: 55%;
	position: relative; 
	z-index: -1;
}

.white-block {
	height: 200px;
	width: 200px;
	background-color: white;
	position: relative;
}

.black-block-quote {
	background-color: #222;
	color: $color-offwhite;
	max-width: 25%;
	position: relative;

	.block-quote-inner {
		padding: 40px 60px;
	}
}

.image-block-lrg {

}

.image-block-med {
	height: 500px;
	width: 700px;
	position: relative;

	img {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
}

.image-block-sml {

}

//Left Side Settings
.left-group-one {
	position: relative;
  @include clearfix;

	.white-block {
		margin-top: -325px;
		margin-left: 225px;	
		z-index: 2;	
		@extend %box-shadow;
	}

	.image-block-med {
		margin-top: -325px;
		z-index: 1;
		margin-left: 350px;
		@extend %box-shadow;
	}

	.black-block-quote {
		margin-left: 100px;
		margin-top: -275px;
		z-index: 3;
		@extend %box-shadow-alt;
	}
}


//Right Side Settings
.right-group-one {
	position: relative;
	float: right;
  @include clearfix;

	.gray-block {
		float: right;
	}

	.image-block-med {
		float: right;
		margin-top: -425px;
		z-index: 1;
		margin-left: 350px;
		@extend %box-shadow;
	}

	.black-block-quote {
		float: right;
		margin-top: -625px;
		z-index: 3;
		right: -450px;
		top: 250px;
	}
}


// Simple Parallax
.bcg-parallax {
    padding: 450px 0;
    color: #fff;
    background-color: #000;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.bcg {
    background: url('../images/field.jpg') no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 150%;
    top: 0;
    z-index: 1;
    opacity: 0.9;
}
.content-wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1140px;
    position: relative;
    z-index: 2;
}


// Moving Blocks 
#image-one {
	transition: all 500ms ease-in-out;
}

// Beacon Styles
.beacon{
  position:absolute;
  // top:50%;
  // left:50%;
  top: 93%;
  right: 2%;
  background-color:#d72027;
  height:1.05em;
  width:1.05em;
  border-radius:50%;
  -webkit-transform:translateX(-50%) translateY(-50%);

  &:hover {
  	background-color: #a3181d;

  	&:before {
  		box-shadow:0px 0px 2px 2px #d72027;  		
  	}
  }
}
.beacon:before{
  position:absolute;
  content:"";
  height:1.05em;
  width:1.05em;
  left:0;
  top:0;
  background-color:transparent;
  border-radius:50%;
  box-shadow:0px 0px 2px 2px #ec232b;
  -webkit-animation:active 2s infinite linear;
  animation:active 2s infinite linear;
}

@-webkit-keyframes active{
  0%{
    -webkit-transform:scale(.1);
    opacity:1;
  }
  70%{
    -webkit-transform:scale(2.5);
    opacity:0;
  }
  100%{
    opacity:0;
  }
}

@keyframes active{
  0%{
    transform:scale(.1);
    opacity:1;
  }
  70%{
    transform:scale(2.5);
    opacity:0;
  }
  100%{
    opacity:0;
  }
}


.tooltip-example {
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}

.tooltip {
  display: inline;
  -webkit-perspective: 500px;
  -moz-perspective: 500px;
  perspective: 500px;
}
.tooltip:hover {
  cursor: pointer;
}
.tooltip:hover .tooltip__content {
  -webkit-transform: translate3d(-50%, -10%, 0);
  -moz-transform: translate3d(-50%, -10%, 0);
  -ms-transform: translate3d(-50%, -10%, 0);
  -o-transform: translate3d(-50%, -10%, 0);
  transform: translate3d(-50%, -10%, 0);
  opacity: 1;
  pointer-events: auto;
}
.tooltip__content {
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  transition: all 200ms ease;
  -webkit-transform: translate3d(-50%, 0%, 0);
  -moz-transform: translate3d(-50%, 0%, 0);
  -ms-transform: translate3d(-50%, 0%, 0);
  -o-transform: translate3d(-50%, 0%, 0);
  transform: translate3d(-50%, 0%, 0);
  -webkit-transform-origin: 0 10px;
  -moz-transform-origin: 0 10px;
  -ms-transform-origin: 0 10px;
  -o-transform-origin: 0 10px;
  transform-origin: 0 10px;
  background-color: #fff;
  color: #2f2f2f;
  display: block;
  font-size: 14px;
  font-weight: normal;
  // left: 50%;
  right: -38%;
  opacity: 0;
  padding: 10px 20px;
  pointer-events: none;
  position: absolute;	
  text-align: left;
  // bottom: 100%;
  bottom: 10%;
  max-width: 200px;
}
.tooltip__content:before {
  border-color: transparent;
  border-top-color: #fff;
  border-style: solid;
  border-width: 10px;
  content: ' ';
  display: block;
  height: 0;
  left: 50%;
  margin-left: -10px;
  position: absolute;
  bottom: -20px;
  width: 0;
}
.tooltip__content:after {
  content: ' ';
  display: block;
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  height: 20px;
}
.tooltip__content:hover {
  -webkit-transform: rotateX(0deg) translate3d(-50%, -10%, 0);
  -moz-transform: rotateX(0deg) translate3d(-50%, -10%, 0);
  -ms-transform: rotateX(0deg) translate3d(-50%, -10%, 0);
  -o-transform: rotateX(0deg) translate3d(-50%, -10%, 0);
  transform: rotateX(0deg) translate3d(-50%, -10%, 0);
  opacity: 1;
  pointer-events: auto;
}





//Debug settings

// #panel-one {
// 	background-color: red;
// }

// #panel-two {
// 	background-color: blue;
// }


// Remodal
.remodal-wrapper {
	padding: 0px;
}

.remodal {
	// max-width: 1200px;
	// width: 100%;
	height: 95vh;
	width: 98vw;
	max-width: 100vw;

	.col-6 {
		width: calc( 50% - 30px );
		margin-left: 15px;
		margin-right: 15px;
	}

	.col-6 {
		img {
			max-width: 100%;
		}
	}
}
